In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('combined-dataset/combined_datasetV2.csv')
df.dropna(subset=['rating', 'review 1', 'review 2', 'review 3', 'review 4', 'review 5'], inplace=True)

In [3]:
filtered = df[df['rating-count'] >= 50]
filtered.reset_index(drop=True, inplace=True)
filtered = filtered[filtered['rating'] >= 3.5]
filtered

,id,name,latitude,longitude,address,url,status,phone,primary-type,types,rating,rating-count,price-level,review 1,review 2,review 3,review 4,review 5
0,ChIJYcGr7GSb0S0RckePBrCWikw,Singaraja Hotel (ex- POP! Hotel Hardys Singara...,-8.103137,115.090514,"Jl. Surapati No.12 14, Kp. Baru, Kec. Buleleng...",https://maps.google.com/?cid=5515386376437057394,OPERATIONAL,+62 362 3301500,hotel,"hotel, lodging",4.1,2581.0,NaN,"It has quite small room, and the hallway is qu...",Few days ago My wife and me stayed 2 night at ...,"Because its cheap, cant complaint too much. Th...","Stayed here for 1 night, the room is small wit...",Good place to short stay located next Historic...
1,ChIJZbWX6Aia0S0R0tM3h1RZ1h8,Warung Bik Juk,-8.106189,115.089961,"Kampung Kajanan, Buleleng, Buleleng Regency, B...",https://maps.google.com/?cid=2294119279772554194,OPERATIONAL,+62 819-1566-2913,indonesian_restaurant,"indonesian_restaurant, restaurant, food",4.5,648.0,PRICE_LEVEL_MODERATE,"Surprisingly, a really good warung that‚Äôs hidd...","So in love with the food, very simple but tast...",A hidden treasure in the heart of Singaraja Ci...,Nice warung on the side street. They were out ...,Nostalgic place at singaraja.. good and friend...
2,ChIJYyHbhgia0S0RzdjNXLmcf54,Harbour Tourist Area of Buleleng,-8.103931,115.090031,"Jl. Pelabuhan Buleleng, Kp. Bugis, Kec. Bulele...",https://maps.google.com/?cid=11421019499974744269,OPERATIONAL,+62 362 21342,tourist_attraction,"tourist_attraction, restaurant, food",4.3,2800.0,NaN,"Only had a fleeting visit here, came by coach,...",The Harbour Tourist Area in Buleleng offers a ...,Its ine of nice place you must visit when you ...,"A historical place for the Balinese people, es...",It's a good place to relax with you friends an...
3,ChIJ6zf9LJCb0S0RFv3BdLl61ZY,Abuela Coffee,-8.104751,115.087919,"Jl. Erlangga No.1, Kp. Bugis, Kec. Buleleng, K...",https://maps.google.com/?cid=10868728212674968854,OPERATIONAL,+62 858-5878-5361,coffee_shop,"coffee_shop, cafe, food, store",4.9,164.0,NaN,"One word, underrated! How come place like this...",Coffee shop with good food and coffee. Very ni...,"Small cafe, the coffee is good, the dimsum is ...",Love this place ü´∂\r\nGreat coffee ‚òïÔ∏è\r\nLumpia...,Best coffee in Singaraja. Cappuccino was 20k a...
4,ChIJxaITmQia0S0RyrbukE8vsJU,Klenteng Ling Gwan Kiong,-8.103899,115.089833,"Jl. Erlangga No.65, Kp. Bugis, Kec. Buleleng, ...",https://maps.google.com/?cid=10786173126332823242,OPERATIONAL,NaN,place_of_worship,"tourist_attraction, place_of_worship",4.6,142.0,NaN,"This temple is located in Singaraja, located i...",Taoist temple with beautiful old-chinese archi...,Ling Gwan Kiong is an old Chinese temple popul...,"The Tri Dharma Temple, very unique, historic a...","Quiet, clean and peaceful. Visited this place ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6594,ChIJf6d0f5Nb0i0Rq_tEZeZB_Nc,Melasti Beach Ungasan,-8.847742,115.160670,"Indonesia, Bali, Badung Regency, South Kuta, U...",https://maps.google.com/?cid=15563386870082894763,OPERATIONAL,NaN,tourist_attraction,tourist_attraction,4.8,19752.0,NaN,the location is not far and not too crowded. t...,Nicely made beach with parking right in front ...,Melasti Beach Ungasan is a stunning beach in B...,The approach road to this beach is amazing spe...,"üö∂ I walked down to the beach, but it‚Äôs quite s..."
6595,ChIJk41ld9Fb0i0RStb1NFpDAno,Tropical Temptation Beach Club by Ini Vie Hosp...,-8.848187,115.160380,"Melasti Beach 88, Ungasan, Kec. Kuta Sel., Kab...",https://maps.google.com/?cid=8791663477295273546,OPERATIONAL,+62 812-3776-3903,restaurant,"restaurant, bar, food",4.6,2990.0,NaN,"First off, the staff is incredible. Like, rid...",We ended up paying 1.5mil for two here while s...,Had an awesome day at Tropical Temptation! Th...,"Beautiful area, can not fault how breath takin...",Tropical Temptation is a beach club gem! üíé The...
6596,ChIJO30FJJdd0i0RCOyG8WcyJBk,Pantai Melasti,-8.848278,115.163173,"554Q+PJ5, Jl. Pantai Melasti, Kutuh, Kec. Kuta...",https://maps.google.com/?cid=1811628372124953608,OPERATIONAL,NaN,tourist_attraction,tourist_attraction,4.7,75.0,NaN,One of the cleanest beaches we visited in Uluw...,"I went to Melasti Beach at the end of October,...",I went to Bali at the end of October and visit...,Beautiful place,it was really hot when we went here but its a ...
6597,ChIJvazdGXtb0i0RA-4XopPth7A,M√Ønoo Beach Club,-8.848279,115.161177,"Jl. Pengayutan. Pantai Melasti, Ungasan, Kec. ...",https://maps.google.com/?cid=12720396890866707971,OPERATIONAL,+62 811-3898-902,bar,"bar, restaurant, food",4.5,725.0,PRICE_LEVEL_MODERATE,It was a great place to chill for the day. The...,"Nice beach club, really love the foods and dri...","Good place, good food and good staff!\r\n\r\nN...","Good place to bring your family & friends, kid...","I went to this beach a few days ago, the food ..."
6598,ChIJqZTwKr5b0i0Rw1O4htYbMgg,Kecak Dance at Melasti Beach,-8.848176,115.162956,"5527+P5G, Jl. Melasti, Ungasan, Kec. Kuta Sel....",https://maps.google.com/?cid=590565109336134595,OPERATIONAL,NaN,performing_arts_theater,"performing_arts_theater, tourist_attraction, e...",4.8,617.0,NaN,Witnessing the Kecak Dance at Melasti Beach wa...,One of the best experience to watch this dance...,Wow! Amazing experience! Recommend this one ov...,Really enjoyed the Kecak Dance here! A beautif...,"Good performance, but there was only one guy w..."

In [4]:
filtered.dtypes

id               object
name             object
latitude        float64
longitude       float64
address          object
url              object
status           object
phone            object
primary-type     object
types            object
rating          float64
rating-count    float64
price-level      object
review 1         object
review 2         object
review 3         object
review 4         object
review 5         object
dtype: object

In [5]:
review_columns = ['review 1', 'review 2', 'review 3', 'review 4', 'review 5']
reviews_df = filtered.melt(id_vars=['id', 'types'], value_vars=review_columns, var_name='review_number', value_name='review')
reviews_df.dropna(subset=['review'], inplace=True)
reviews_df.reset_index(drop=True, inplace=True)

In [6]:
reviews_df

,id,types,review_number,review
0,ChIJYcGr7GSb0S0RckePBrCWikw,"hotel, lodging",review 1,"It has quite small room, and the hallway is qu..."
1,ChIJZbWX6Aia0S0R0tM3h1RZ1h8,"indonesian_restaurant, restaurant, food",review 1,"Surprisingly, a really good warung that‚Äôs hidd..."
2,ChIJYyHbhgia0S0RzdjNXLmcf54,"tourist_attraction, restaurant, food",review 1,"Only had a fleeting visit here, came by coach,..."
3,ChIJ6zf9LJCb0S0RFv3BdLl61ZY,"coffee_shop, cafe, food, store",review 1,"One word, underrated! How come place like this..."
4,ChIJxaITmQia0S0RyrbukE8vsJU,"tourist_attraction, place_of_worship",review 1,"This temple is located in Singaraja, located i..."
...,...,...,...,...
32740,ChIJf6d0f5Nb0i0Rq_tEZeZB_Nc,tourist_attraction,review 5,"üö∂ I walked down to the beach, but it‚Äôs quite s..."
32741,ChIJk41ld9Fb0i0RStb1NFpDAno,"restaurant, bar, food",review 5,Tropical Temptation is a beach club gem! üíé The...
32742,ChIJO30FJJdd0i0RCOyG8WcyJBk,tourist_attraction,review 5,it was really hot when we went here but its a ...
32743,ChIJvazdGXtb0i0RA-4XopPth7A,"bar, restaurant, food",review 5,"I went to this beach a few days ago, the food ..."
32744,ChIJqZTwKr5b0i0Rw1O4htYbMgg,"performing_arts_theater, tourist_attraction, e...",review 5,"Good performance, but there was only one guy w..."

In [7]:
reviews_df.to_csv('combined-dataset/reviews_data.csv', index=False)

In [8]:
import random
total_reviews = len(reviews_df)

In [9]:
unique_ratio = 0.5
num_unique_users = int(total_reviews * unique_ratio)
total_users = int(total_reviews / unique_ratio)

In [10]:
users_id = [f'user_{i + 1}' for i in range(total_users)]

In [11]:
reviews_df['user_id'] = [random.choice(users_id) for _ in range(total_reviews)]

In [12]:
user_review_counts = reviews_df['user_id'].value_counts()
print(user_review_counts.describe())

count    25799.000000
mean         1.269235
std          0.533471
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          6.000000
Name: count, dtype: float64

In [13]:
reviews_df

,id,types,review_number,review,user_id
0,ChIJYcGr7GSb0S0RckePBrCWikw,"hotel, lodging",review 1,"It has quite small room, and the hallway is qu...",user_45168
1,ChIJZbWX6Aia0S0R0tM3h1RZ1h8,"indonesian_restaurant, restaurant, food",review 1,"Surprisingly, a really good warung that‚Äôs hidd...",user_17171
2,ChIJYyHbhgia0S0RzdjNXLmcf54,"tourist_attraction, restaurant, food",review 1,"Only had a fleeting visit here, came by coach,...",user_64819
3,ChIJ6zf9LJCb0S0RFv3BdLl61ZY,"coffee_shop, cafe, food, store",review 1,"One word, underrated! How come place like this...",user_31486
4,ChIJxaITmQia0S0RyrbukE8vsJU,"tourist_attraction, place_of_worship",review 1,"This temple is located in Singaraja, located i...",user_46065
...,...,...,...,...,...
32740,ChIJf6d0f5Nb0i0Rq_tEZeZB_Nc,tourist_attraction,review 5,"üö∂ I walked down to the beach, but it‚Äôs quite s...",user_63042
32741,ChIJk41ld9Fb0i0RStb1NFpDAno,"restaurant, bar, food",review 5,Tropical Temptation is a beach club gem! üíé The...,user_40323
32742,ChIJO30FJJdd0i0RCOyG8WcyJBk,tourist_attraction,review 5,it was really hot when we went here but its a ...,user_25933
32743,ChIJvazdGXtb0i0RA-4XopPth7A,"bar, restaurant, food",review 5,"I went to this beach a few days ago, the food ...",user_4033
32744,ChIJqZTwKr5b0i0Rw1O4htYbMgg,"performing_arts_theater, tourist_attraction, e...",review 5,"Good performance, but there was only one guy w...",user_868

In [15]:
from textblob import TextBlob
from sklearn.preprocessing import MinMaxScaler
reviews_df['sentiment'] = reviews_df['review'].apply(lambda review: TextBlob(review).sentiment.polarity)
reviews_df['sentiment'] = MinMaxScaler().fit_transform(reviews_df[['sentiment']])

In [16]:
reviews_df

,id,types,review_number,review,user_id,sentiment
0,ChIJYcGr7GSb0S0RckePBrCWikw,"hotel, lodging",review 1,"It has quite small room, and the hallway is qu...",user_45168,0.506250
1,ChIJZbWX6Aia0S0R0tM3h1RZ1h8,"indonesian_restaurant, restaurant, food",review 1,"Surprisingly, a really good warung that‚Äôs hidd...",user_17171,0.606250
2,ChIJYyHbhgia0S0RzdjNXLmcf54,"tourist_attraction, restaurant, food",review 1,"Only had a fleeting visit here, came by coach,...",user_64819,0.491667
3,ChIJ6zf9LJCb0S0RFv3BdLl61ZY,"coffee_shop, cafe, food, store",review 1,"One word, underrated! How come place like this...",user_31486,0.672338
4,ChIJxaITmQia0S0RyrbukE8vsJU,"tourist_attraction, place_of_worship",review 1,"This temple is located in Singaraja, located i...",user_46065,0.569762
...,...,...,...,...,...,...
32740,ChIJf6d0f5Nb0i0Rq_tEZeZB_Nc,tourist_attraction,review 5,"üö∂ I walked down to the beach, but it‚Äôs quite s...",user_63042,0.582200
32741,ChIJk41ld9Fb0i0RStb1NFpDAno,"restaurant, bar, food",review 5,Tropical Temptation is a beach club gem! üíé The...,user_40323,0.808929
32742,ChIJO30FJJdd0i0RCOyG8WcyJBk,tourist_attraction,review 5,it was really hot when we went here but its a ...,user_25933,0.641667
32743,ChIJvazdGXtb0i0RA-4XopPth7A,"bar, restaurant, food",review 5,"I went to this beach a few days ago, the food ...",user_4033,0.823344
32744,ChIJqZTwKr5b0i0Rw1O4htYbMgg,"performing_arts_theater, tourist_attraction, e...",review 5,"Good performance, but there was only one guy w...",user_868,0.765278

In [17]:
reviews_df['sentiment'] = ((reviews_df['sentiment'] - 0) / (1 - 0)) * (5 - 1) + 1

In [19]:
reviews_df

,id,types,review_number,review,user_id,sentiment
0,ChIJYcGr7GSb0S0RckePBrCWikw,"hotel, lodging",review 1,"It has quite small room, and the hallway is qu...",user_45168,3.025000
1,ChIJZbWX6Aia0S0R0tM3h1RZ1h8,"indonesian_restaurant, restaurant, food",review 1,"Surprisingly, a really good warung that‚Äôs hidd...",user_17171,3.425000
2,ChIJYyHbhgia0S0RzdjNXLmcf54,"tourist_attraction, restaurant, food",review 1,"Only had a fleeting visit here, came by coach,...",user_64819,2.966667
3,ChIJ6zf9LJCb0S0RFv3BdLl61ZY,"coffee_shop, cafe, food, store",review 1,"One word, underrated! How come place like this...",user_31486,3.689352
4,ChIJxaITmQia0S0RyrbukE8vsJU,"tourist_attraction, place_of_worship",review 1,"This temple is located in Singaraja, located i...",user_46065,3.279048
...,...,...,...,...,...,...
32740,ChIJf6d0f5Nb0i0Rq_tEZeZB_Nc,tourist_attraction,review 5,"üö∂ I walked down to the beach, but it‚Äôs quite s...",user_63042,3.328801
32741,ChIJk41ld9Fb0i0RStb1NFpDAno,"restaurant, bar, food",review 5,Tropical Temptation is a beach club gem! üíé The...,user_40323,4.235714
32742,ChIJO30FJJdd0i0RCOyG8WcyJBk,tourist_attraction,review 5,it was really hot when we went here but its a ...,user_25933,3.566667
32743,ChIJvazdGXtb0i0RA-4XopPth7A,"bar, restaurant, food",review 5,"I went to this beach a few days ago, the food ...",user_4033,4.293375
32744,ChIJqZTwKr5b0i0Rw1O4htYbMgg,"performing_arts_theater, tourist_attraction, e...",review 5,"Good performance, but there was only one guy w...",user_868,4.061111

In [20]:
reviews_df.to_csv('combined-dataset/final_reviews_data.csv', index=False)

In [ ]:
import pandas as pd
import random
from textblob import TextBlob
import matplotlib.pyplot as plt

# Load the reviews data
reviews_df = pd.read_csv('combined-dataset/reviews_data.csv')

# Calculate total number of reviews
total_reviews = len(reviews_df)

# Desired unique-to-multiple review ratio
unique_ratio = 0.70

# Number of unique users
num_unique_users = int(total_reviews * unique_ratio)

# Number of total users, including those with multiple reviews
total_users = int(total_reviews / unique_ratio)  # Rough estimate

# Generate synthetic user IDs
user_ids = [f"user_{i+1}" for i in range(total_users)]

# Determine reviews per user randomly
min_reviews_per_user = 1
max_reviews_per_user = 5  # Adjust as needed

# Create a mapping of user_id to the number of reviews they will have
user_review_map = {user_id: random.randint(min_reviews_per_user, max_reviews_per_user) for user_id in user_ids}

# Flatten the user review assignment
assigned_users = []
for user_id, count in user_review_map.items():
    assigned_users.extend([user_id] * count)

# If there are more reviews than assigned users, extend the list randomly
if len(assigned_users) < total_reviews:
    extra_users = [random.choice(user_ids) for _ in range(total_reviews - len(assigned_users))]
    assigned_users.extend(extra_users)

# Shuffle to ensure randomness
random.shuffle(assigned_users)

# Assign the shuffled list to the DataFrame
reviews_df['user_id'] = assigned_users[:total_reviews]

# Check the distribution of reviews per user
user_review_counts = reviews_df['user_id'].value_counts()
print(user_review_counts.describe())

# Perform sentiment analysis
reviews_df['sentiment'] = reviews_df['review'].apply(lambda review: TextBlob(review).sentiment.polarity)

# Visualize sentiment distribution
plt.hist(reviews_df['sentiment'], bins=50, edgecolor='k', alpha=0.7)
plt.title('Sentiment Distribution')
plt.xlabel('Sentiment Score')
plt.ylabel('Frequency')
plt.show()

# Save the final DataFrame
reviews_df.to_csv('combined-dataset/final_reviews_data.csv', index=False)

In [ ]:
reviews_df